&wifi {
	status = "okay";
};

/ {
    aliases {
        led0 = &status_led;
        bme280 = &bme280;
        bmepwr = &bme_power;
    };

    leds {
        compatible = "gpio-leds";
        status_led: led_0 {
            /* GPIO8 is on the gpio0 controller */
            /* GPIO_ACTIVE_LOW matches your physical wiring (+3.3V source) */
            gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
            label = "User Status LED";
        };
    };

    bme_power: bme_power {
        compatible = "gpio-power";
        gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            pinmux = <I2C0_SDA_GPIO10>,
                     <I2C0_SCL_GPIO7>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
};

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    clock-frequency = <I2C_BITRATE_STANDARD>;
    
    bme280: bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;  /* Or 0x77 depending on your module's SDO pin */
        status = "okay";
    };
};

/ {
    zephyr,user {
        /* IO4 (Pin 18) is ADC1 Channel 4 */
        io-channels = <&adc0 4>; 
        /* IO3 (Pin 6) for VCC control */
        pwr-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
        /* IO2 (Pin 5) for software GND */
        gnd-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>; 

        bme-pwr-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
    };
};

/* Use SAR ADC1 (adc0) which is defined and factory calibrated */
&adc0 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@4 {
        reg = <4>; /* ADC1_CH4 on IO4 */
        zephyr,gain = "ADC_GAIN_1_4";      /* Range for 0-3.0V sensor output */
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

&gpio0 {
    status = "okay";
};